In [6]:
import requests
import re
import pandas as pd
import matplotlib.pyplot as plt

In [7]:

def stringclean(mystring):
    #regex = re.compile(".*?\((.*?)\)")
    mystring = re.sub("[\(\[].*?[\)\]]", "", mystring)
    mystring = re.sub("[$,]", "", mystring)
    return (mystring)

def parsetable(url):
    website_url = requests.get(url).text
    soup = BeautifulSoup(website_url,'lxml')
    #print(soup.prettify())
    My_table = soup.find('table',{'class':'wikitable'})
    data = My_table.find_all(['th','td'])
    c = 0
    b = []
    for i in range(int(len(data)/4)):
        try:  
            a = []
            for j in range(4):
                a1 = data[c].text
                a1 = a1.replace('\n', '')
                a1 = stringclean(a1)
                a.append(a1)
                c = c + 1                
            b.append(a)
        except:
            pass
        
    bf = pd.DataFrame(b)
    new_header = bf.iloc[0] #grab the first row for the header
    bf = bf[1:] #take the data less the header row
    bf.columns = new_header #set the header row as the df header
    
    return (bf)

In [8]:
def rettable(url):
    tbls = pd.read_html(url)
    for t in tbls:
        if ('Bronze' in t):
            return (t)
    return ()

In [26]:
cnt = 0
for i in range(1900, 2019, 4):
    print (i)
    #url = "https://en.wikipedia.org/wiki/"  + str(i) + "_in_film"
    url = "https://en.wikipedia.org/wiki/" + str(i) + "_Summer_Olympics_medal_table"
    print (url)
    try:        
        b = rettable(url)
        b['Year'] = str(i)
        if (cnt == 0):
            mlist = b
        else:
            mlist = mlist.append(b)
        cnt += 1
    except:
        pass

1900
https://en.wikipedia.org/wiki/1900_Summer_Olympics_medal_table
1904
https://en.wikipedia.org/wiki/1904_Summer_Olympics_medal_table
1908
https://en.wikipedia.org/wiki/1908_Summer_Olympics_medal_table
1912
https://en.wikipedia.org/wiki/1912_Summer_Olympics_medal_table
1916
https://en.wikipedia.org/wiki/1916_Summer_Olympics_medal_table
1920
https://en.wikipedia.org/wiki/1920_Summer_Olympics_medal_table
1924
https://en.wikipedia.org/wiki/1924_Summer_Olympics_medal_table
1928
https://en.wikipedia.org/wiki/1928_Summer_Olympics_medal_table
1932
https://en.wikipedia.org/wiki/1932_Summer_Olympics_medal_table
1936
https://en.wikipedia.org/wiki/1936_Summer_Olympics_medal_table
1940
https://en.wikipedia.org/wiki/1940_Summer_Olympics_medal_table
1944
https://en.wikipedia.org/wiki/1944_Summer_Olympics_medal_table
1948
https://en.wikipedia.org/wiki/1948_Summer_Olympics_medal_table
1952
https://en.wikipedia.org/wiki/1952_Summer_Olympics_medal_table
1956
https://en.wikipedia.org/wiki/1956_Summer_Olympics_medal_table
1960
https://en.wikipedia.org/wiki/1960_Summer_Olympics_medal_table
1964
https://en.wikipedia.org/wiki/1964_Summer_Olympics_medal_table
1968
https://en.wikipedia.org/wiki/1968_Summer_Olympics_medal_table
1972
https://en.wikipedia.org/wiki/1972_Summer_Olympics_medal_table
1976
https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table
1980
https://en.wikipedia.org/wiki/1980_Summer_Olympics_medal_table
1984
https://en.wikipedia.org/wiki/1984_Summer_Olympics_medal_table
1988
https://en.wikipedia.org/wiki/1988_Summer_Olympics_medal_table
1992
https://en.wikipedia.org/wiki/1992_Summer_Olympics_medal_table
1996
https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table
2000
https://en.wikipedia.org/wiki/2000_Summer_Olympics_medal_table
2004
https://en.wikipedia.org/wiki/2004_Summer_Olympics_medal_table
2008
https://en.wikipedia.org/wiki/2008_Summer_Olympics_medal_table
2012
https://en.wikipedia.org/wiki/2012_Summer_Olympics_medal_table
2016
https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table

In [27]:
type(mlist)

pandas.core.frame.DataFrame

In [28]:
len(mlist)

1262

In [29]:
mlist['Country'] = mlist['NOC'].fillna('') + '-' + mlist['Nation'].fillna('')
mlist['Country'] = mlist['Country'].apply(lambda x: x.replace('-', '').strip())

In [31]:
mlist = mlist.drop(['Nation', 'NOC'], axis=1)

In [32]:
firstrank = mlist[mlist['Rank']=='1']
firstrank

   Bronze  Gold Rank  Silver  Total  Year                  Country
0      39    29    1      44    112  1900          France (FRA)[a]
0      79    78    1      82    239  1904     United States (USA)*
0      39    56    1      51    146  1908  Great Britain (GBR)*[a]
0      19    25    1      19     63  1912      United States (USA)
0      27    41    1      27     95  1920      United States (USA)
0      27    45    1      27     99  1924      United States (USA)
0      16    22    1      18     56  1928      United States (USA)
0      30    41    1      32    103  1932     United States (USA)*
0      30    33    1      26     89  1936           Germany (GER)*
0      19    38    1      27     84  1948      United States (USA)
0      17    40    1      19     76  1952      United States (USA)
0      32    37    1      29     98  1956       Soviet Union (URS)
0      31    43    1      29    103  1960       Soviet Union (URS)
0      28    36    1      26     90  1964      United States (USA)
0      34    45    1      28    107  1968      United States (USA)
0      22    50    1      27     99  1972       Soviet Union (URS)
0      35    49    1      41    125  1976       Soviet Union (URS)
0      46    80    1      69    195  1980      Soviet Union (URS)*
0      30    83    1      61    174  1984     United States (USA)*
0      46    55    1      31    132  1988       Soviet Union (URS)
0      29    45    1      38    112  1992       Unified Team (EUN)
0      25    44    1      32    101  1996     United States (USA)*
0      32    37    1      24     93  2000      United States (USA)
0      26    36    1      39    101  2004      United States (USA)
0      30    48    1      22    100  2008             China (CHN)*
0      30    46    1      28    104  2012      United States (USA)
0      38    46    1      37    121  2016      United States (USA)

In [33]:
mlist.to_csv('OlympicMedalWinners.csv')