In [6]:
import requests
import re
import pandas as pd
import matplotlib.pyplot as plt

In [7]:

def stringclean(mystring):
    #regex = re.compile(".*?\((.*?)\)")
    mystring = re.sub("[\(\[].*?[\)\]]", "", mystring)
    mystring = re.sub("[$,]", "", mystring)
    return (mystring)

def parsetable(url):
    website_url = requests.get(url).text
    soup = BeautifulSoup(website_url,'lxml')
    #print(soup.prettify())
    My_table = soup.find('table',{'class':'wikitable'})
    data = My_table.find_all(['th','td'])
    c = 0
    b = []
    for i in range(int(len(data)/4)):
        try:  
            a = []
            for j in range(4):
                a1 = data[c].text
                a1 = a1.replace('\n', '')
                a1 = stringclean(a1)
                a.append(a1)
                c = c + 1                
            b.append(a)
        except:
            pass
        
    bf = pd.DataFrame(b)
    new_header = bf.iloc[0] #grab the first row for the header
    bf = bf[1:] #take the data less the header row
    bf.columns = new_header #set the header row as the df header
    
    return (bf)

In [8]:
def rettable(url):
    tbls = pd.read_html(url)
    for t in tbls:
        if ('Bronze' in t):
            return (t)
    return ()

In [25]:
cnt = 0
for i in range(1900, 2019, 4):
    print (i)
    #url = "https://en.wikipedia.org/wiki/"  + str(i) + "_in_film"
    url = "https://en.wikipedia.org/wiki/" + str(i) + "_Summer_Olympics_medal_table"
    print (url)
    try:        
        b = rettable(url)
        b['Year'] = str(i)
        if (cnt == 0):
            mlist = b
        else:
            mlist = mlist.append(b)
        cnt += 1
    except:
        pass

1900
https://en.wikipedia.org/wiki/1900_Summer_Olympics_medal_table
1904
https://en.wikipedia.org/wiki/1904_Summer_Olympics_medal_table
1908
https://en.wikipedia.org/wiki/1908_Summer_Olympics_medal_table
1912
https://en.wikipedia.org/wiki/1912_Summer_Olympics_medal_table
1916
https://en.wikipedia.org/wiki/1916_Summer_Olympics_medal_table

HTTPError: HTTP Error 404: Not Found

In [17]:
type(mlist)

pandas.core.frame.DataFrame

In [18]:
mlist

,Bronze,Gold,NOC,Nation,Rank,Silver,Total,Year
0,46,80,NaN,Soviet Union (URS)*,1,69,195,1980
1,42,47,NaN,East Germany (GDR),2,37,126,1980
2,17,8,NaN,Bulgaria (BUL),3,16,41,1980
3,5,8,NaN,Cuba (CUB),4,7,20,1980
4,4,8,NaN,Italy (ITA),5,3,15,1980
5,15,7,NaN,Hungary (HUN),6,10,32,1980
6,13,6,NaN,Romania (ROU),7,6,25,1980
7,3,6,NaN,France (FRA),8,5,14,1980
8,9,5,NaN,Great Britain (GBR),9,7,21,1980
9,15,3,NaN,Poland (POL),10,14,32,1980
10,6,3,NaN,Sweden (SWE),11,3,12,1980
11,4,3,NaN,Finland (FIN),12,1,8,1980
12,9,2,NaN,Czechoslovakia (TCH),13,3,14,1980
13,4,2,NaN,Yugoslavia (YUG),14,3,9,1980
14,5,2,NaN,Australia (AUS),15,2,9,1980
15,2,2,NaN,Denmark (DEN),16,1,5,1980
16,2,2,NaN,Brazil (BRA),17,0,4,1980
17,2,2,NaN,Ethiopia (ETH),17,0,4,1980
18,0,2,NaN,Switzerland (SUI),19,0,2,1980
19,2,1,NaN,Spain (ESP),20,3,6,1980
20,1,1,NaN,Austria (AUT),21,2,4,1980
21,2,1,NaN,Greece (GRE),22,0,3,1980
22,0,1,NaN,Belgium (BEL),23,0,1,1980
23,0,1,NaN,India (IND),23,0,1,1980
24,0,1,NaN,Zimbabwe (ZIM),23,0,1,1980
25,2,0,NaN,North Korea (PRK),26,3,5,1980
26,2,0,NaN,Mongolia (MGL),27,2,4,1980
27,0,0,NaN,Tanzania (TAN),28,2,2,1980
28,3,0,NaN,Mexico (MEX),29,1,4,1980
29,2,0,NaN,Netherlands (NED),30,1,3,1980
...,...,...,...,...,...,...,...,...
57,0,1,Singapore (SIN),NaN,54,0,1,2016
58,0,1,Tajikistan (TJK),NaN,54,0,1,2016
59,1,0,Malaysia (MAS),NaN,60,4,5,2016
60,2,0,Mexico (MEX),NaN,61,3,5,2016
61,1,0,Venezuela (VEN),NaN,62,2,3,2016
62,0,0,Algeria (ALG),NaN,63,2,2,2016
63,0,0,Ireland (IRL),NaN,63,2,2,2016
64,3,0,Lithuania (LTU),NaN,65,1,4,2016
65,2,0,Bulgaria (BUL),NaN,66,1,3,2016
66,1,0,India (IND),NaN,67,1,2,2016
67,1,0,Mongolia (MGL),NaN,67,1,2,2016
68,0,0,Burundi (BDI),NaN,69,1,1,2016
69,0,0,Grenada (GRN),NaN,69,1,1,2016
70,0,0,Niger (NIG),NaN,69,1,1,2016
71,0,0,Philippines (PHI),NaN,69,1,1,2016
72,0,0,Qatar (QAT),NaN,69,1,1,2016
73,4,0,Norway (NOR),NaN,74,0,4,2016
74,3,0,Egypt (EGY),NaN,75,0,3,2016
75,3,0,Tunisia (TUN),NaN,75,0,3,2016
76,2,0,Israel (ISR),NaN,77,0,2,2016
77,1,0,Austria (AUT),NaN,78,0,1,2016
78,1,0,Dominican Republic (DOM),NaN,78,0,1,2016
79,1,0,Estonia (EST),NaN,78,0,1,2016
80,1,0,Finland (FIN),NaN,78,0,1,2016
81,1,0,Morocco (MAR),NaN,78,0,1,2016
82,1,0,Nigeria (NGR),NaN,78,0,1,2016
83,1,0,Portugal (POR),NaN,78,0,1,2016
84,1,0,Trinidad and Tobago (TTO),NaN,78,0,1,2016
85,1,0,United Arab Emirates (UAE),NaN,78,0,1,2016
86,359,307,Totals (86 NOCs),NaN,Totals (86 NOCs),307,973,2016

In [21]:
mlist['c'] = mlist['NOC'].fillna('') + '-' + mlist['Nation'].fillna('')

In [23]:
mlist['c'] = mlist['c'].apply(lambda x: x.replace('-', '').strip())

In [24]:
firstrank = mlist[mlist['Rank']=='1']
firstrank

,Bronze,Gold,NOC,Nation,Rank,Silver,Total,Year,c
0,46,80,NaN,Soviet Union (URS)*,1,69,195,1980,Soviet Union (URS)*
0,30,83,NaN,United States (USA)*,1,61,174,1984,United States (USA)*
0,46,55,NaN,Soviet Union (URS),1,31,132,1988,Soviet Union (URS)
0,29,45,NaN,Unified Team (EUN),1,38,112,1992,Unified Team (EUN)
0,25,44,NaN,United States (USA)*,1,32,101,1996,United States (USA)*
0,32,37,NaN,United States (USA),1,24,93,2000,United States (USA)
0,26,36,NaN,United States (USA),1,39,101,2004,United States (USA)
0,30,48,China (CHN)*,NaN,1,22,100,2008,China (CHN)*
0,30,46,United States (USA),NaN,1,28,104,2012,United States (USA)
0,38,46,United States (USA),NaN,1,37,121,2016,United States (USA)